<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem
        id="menu_mautic_root"
        name="Mautic"
        parent="ssi_connector.menu_root_connector"
        sequence="50"
    />

    <menuitem
        id="menu_mautic_webhook_queue"
        name="Webhook Queues"
        parent="menu_mautic_root"
        sequence="100"
    />

    <menuitem
        id="menu_mautic_binding"
        name="Bindings"
        parent="menu_mautic_root"
        sequence="200"
    />

    <menuitem
        id="menu_mautic_configuration"
        name="Configuration"
        parent="menu_mautic_root"
        sequence="999"
    />


</odoo>
